html,
body {
  height: 100%;
  margin: 0;
  font-family: roboto, sans-serif;
  line-height: 164%;
  background-color: #F9F9F9;
}

.container {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 400px;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 32px;
}
/* Header */

.nav-list {
    position: absolute;
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    top: 80px;
}

/* Hero-section */

.hero-section {
    background: #EEEFF1;
    padding-top: 258px;
}

.hero-title {
    font-size: 48px;
    margin: 0;
    padding-bottom: 60px;
}

.hero-text {
    padding-bottom: 65px;
}

.hero-btn {
    display: block;
    background-color: #34547A;
    color: #FFFFFF;
    width: 225px;
    height: 65px;
    text-align: center;
    align-content: center;
}

/* about-section */

/* projects-section */

/* education-section */
