html,
body {
  height: 100%;
  margin: 0;
  font-family: roboto, sans-serif;
  line-height: 164%;
  background-color: #F9F9F9;
}

.container {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 400px;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
}

p {
    margin: 0;
}

h2 {
    font-size: 32px;
    margin: 0;
}

h3 {
    font-size: 21px;
    line-height: 100%;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	min-width: 375px;
	position: relative;
}

/* Header */

.nav-list {
    position: absolute;
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    top: 80px;
}

/* Hero-section */

.hero-section {
    background: #EEEFF1;
    padding-top: 258px;
}

.hero-title {
    font-size: 48px;
    margin: 0;
    padding-bottom: 60px;
}

.hero-text {
    padding-bottom: 65px;
    width: 540px;
    color: #727272;
}

.hero-btn {
    display: block;
    background-color: #34547A;
    color: #FFFFFF;
    width: 225px;
    height: 65px;
    text-align: center;
    align-content: center;
    letter-spacing: 2px;
}

.hero-box {
    padding-bottom: 141px;
}

/* about-section */

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-title {
    padding: 112px 0 50px 0;
    margin: 0;
}

.about-text {
    color: #727272;
    align-items: center;
    width: 540px;
    padding-bottom: 100px;
}

/* projects-section */

.projects-section {
    background-color: #34547A;
    color: #FFFFFF;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(6, 147px);
    justify-items: center;
    grid-auto-flow: row;
    gap: 0 49px;
    list-style: none;
    padding: 100px 0;
    margin: 0;
}

.project-list__cell {
    display: grid;
    grid-template-columns: repeat(3, 44px);
    gap: 20px;
}

/* education-section */

.education-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.education-title {
    padding: 100px 0 50px 0;
}

.education-text {
    width: 540px;
    color: #727272;
    align-items: center;
    padding-bottom: 57px;
}

.education-video {
    padding-bottom: 100px;
}

/* Footer section */

.footer {
    background-color: #34547A;
    color: rgba(255, 255, 255, 1);
}

.footer-title {
    margin: 0;
    padding: 50px 0 20px 0;
}

.coopiright {
    font-size: 13px;
    padding-bottom: 20px;
}