
html,
body {
  height: 100%;
  margin: 0;
  font-family: roboto, sans-serif;
  line-height: 164%;
  background-color: #F9F9F9;
  
}

.container {
	width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 calc((100vw - 1920px) / 2);
    box-sizing: border-box;

    @media (max-width: 1200px) {
        padding: 0 200px;
    }

    @media (max-width: 800px) {
        padding: 0 100px;
    }
     
    @media (max-width: 545px) {
        padding: 0 50px;
    }

    @media (max-width: 420px) {
        padding: 0 30px;
    }
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
}

p {
    margin: 0;
}

h2 {
    font-size: 32px;
    margin: 0;

    @media (max-width: 800px) {
        font-size: 28px;
    }
}

h3 {
    font-size: 21px;
    line-height: 100%;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin: 0;

    @media (max-width: 545px) {
        font-size: 18px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	min-width: 375px;
	position: relative;
    overflow: hidden;
}

/* Header */

.nav-list {
    position: absolute;
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    top: 80px;

    @media (max-width: 800px) {
        gap: 20px;
    }

    @media (max-width: 545px) {
        gap: 15px;
    }

}

/* Hero-section */

.hero-section {
    background: #EEEFF1;
    padding-top: 258px;

    @media (max-width: 545px) {
        padding-top: 200px; 
    }
}

.hero-title {
    font-size: 48px;
    margin: 0;
    padding-bottom: 60px;

    @media (max-width: 800px) {
        font-size: 38px;
        padding-bottom: 40px;
    }
}

.hero-text {
    padding-bottom: 65px;
    width: 540px;
    color: #727272;

    @media (max-width: 800px) {
        width: 360px;
    }

    @media (max-width: 545px) {
        width: 320px; 
        padding-bottom: 45px;
    }

    @media (max-width: 420px) {
        font-size: 14px;
    }
}

.hero-btn {
    display: block;
    background-color: #34547A;
    color: #FFFFFF;
    width: 225px;
    height: 65px;
    text-align: center;
    align-content: center;
    letter-spacing: 2px;

    @media (max-width: 800px) {
        width: 205px;
        height: 55px;
    }

    @media (max-width: 420px) {
        width: 185px;
        height: 45px;
        font-size: 14px;
    }
}

.hero-box {
    padding-bottom: 141px;

    @media (max-width: 545px) {
        padding-bottom: 100px;
    }
}

/* about-section */

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-title {
    padding: 112px 0 50px 0;
    margin: 0;

    @media (max-width: 800px) {
        padding: 82px 0 40px 0;
    }

    @media (max-width: 420px) {
        padding: 72px 0 30px 0;
    }
}

.about-text {
    color: #727272;
    align-items: center;
    width: 540px;
    padding-bottom: 100px;

    @media (max-width: 800px) {
        width: 440px;
        padding-bottom: 70px;
    }

    @media (max-width: 545px) {
        width: 380px;
        padding-bottom: 60px;
    }

    @media (max-width: 420px) {
        font-size: 14px;
        width: 320px;
        padding-bottom: 50px;
    }

}

/* projects-section */

.projects-section {
    background-color: #34547A;
    color: #FFFFFF;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(6, 147px);
    justify-items: center;
    grid-auto-flow: row;
    gap: 0 49px;
    list-style: none;
    padding: 100px 0;
    margin: 0;
    justify-content: center;
}

.project-list__cell {
    display: grid;
    grid-template-columns: repeat(3, 44px);
    gap: 20px;
}

/* education-section */

.education-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.education-title {
    padding: 100px 0 50px 0;

    @media (max-width: 800px) {
        padding: 80px 0 40px 0;
    }

    @media (max-width: 5450px) {
        padding: 72px 0 35px 0;
    }

    @media (max-width: 420px) {
        padding: 62px 0 30px 0;
    }
}

.education-text {
    width: 540px;
    color: #727272;
    align-items: center;
    padding-bottom: 57px;

    @media (max-width: 800px) {
        width: 440px;
        padding-bottom: 45px;
    }

    @media (max-width: 545px) {
        width: 380px;
    }

    @media (max-width: 420px) {
        width: 320px;
    }
}

.education-video {
    width: 1100px;
    height: 600px;
    padding-bottom: 100px;

    @media (max-width: 1200px) {
        width: 900px;
        height: 500px;
        padding-bottom: 80px;
    }

     @media (max-width: 1000px) {
        width: 750px;
    }

    @media (max-width: 800px) {
        width: 500px;
        height: 350px;
    }

    @media (max-width: 545px) {
        width: 400px;
        height: 300px;
    }

    @media (max-width: 420px) {
        width: 325px;
        height: 250px;

    }
}

/* Footer section */

.footer {
    background-color: #34547A;
    color: rgba(255, 255, 255, 1);
}

.footer-title {
    margin: 0;
    padding: 50px 0 20px 0;
}

.coopiright {
    font-size: 13px;
    padding-bottom: 20px;
}