.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__title {
        padding: 112px 0 50px 0;
        margin: 0;
    
        @media (max-width: 800px) {
            padding: 82px 0 40px 0;
        }
    
        @media (max-width: 420px) {
            padding: 72px 0 30px 0;
        }
    }

    &__text {
        color: #727272;
        align-items: center;
        width: 540px;
        padding-bottom: 100px;

        @media (max-width: 800px) {
            width: 440px;
            padding-bottom: 70px;
        }
     
        @media (max-width: 545px) {
            width: 380px;
            padding-bottom: 60px;
        }
      
        @media (max-width: 420px) {
            font-size: 14px;
            width: 320px;
            padding-bottom: 50px;
            }
        }
}