
.education-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.education-title {
    padding: 100px 0 50px 0;

}
        @media (max-width: 800px) {
            .education-title {
                padding: 80px 0 40px 0;
            }
        }
    
        @media (max-width: 5450px) {
            .education-title {
                padding: 72px 0 35px 0;
            }
        }
    
        @media (max-width: 420px) {
            .education-title {
                padding: 62px 0 30px 0;
            }
        }
 
.education-text {
    width: 540px;
    color: #727272;
    align-items: center;
    padding-bottom: 57px;
}
        @media (max-width: 800px) {
            .education-text {
                width: 440px;
                padding-bottom: 45px;
            }
        }
    
        @media (max-width: 545px) {
            .education-text {
                width: 380px;
            }
        }
    
        @media (max-width: 420px) {
            .education-text {
                width: 320px;
            }
        }

.education-video {
    width: 1100px;
    height: 600px;
    padding-bottom: 100px;
}

    @media (max-width: 1200px) {
        .education-video {
            width: 900px;
            height: 500px;
            padding-bottom: 80px;
        }
    }

     @media (max-width: 1000px) {
        .education-video {
            width: 750px;
        }
    }

    @media (max-width: 800px) {
        .education-video {
            width: 500px;
            height: 350px;
        }
    }

    @media (max-width: 545px) {
        .education-video {
            width: 400px;
            height: 300px;
        }
    }

    @media (max-width: 420px) {
        .education-video {
            width: 325px;
            height: 250px;
        }
    }
