.footer {
    background-color: $base-secondary-color;
    color: $second-fn-color;

    &__title {
        margin: 0;
        padding: 50px 0 20px 0;
    }
}    

.coopiright {
    font-size: 13px;
    padding-bottom: 20px;
}