.footer {
    background-color: #34547A;
    color: rgba(255, 255, 255, 1);
}

.footer-title {
    margin: 0;
    padding: 50px 0 20px 0;
}

.coopiright {
    font-size: 13px;
    padding-bottom: 20px;
}