.hero-section {
    background: #EEEFF1;
    padding-top: 258px;
}
   
        @media (max-width: 545px) {
            .hero-section {
                padding-top: 200px; 
            }
        }
    
.hero-title {
    font-size: 48px;
    margin: 0;
    padding-bottom: 60px;
}

    @media (max-width: 800px) {
        .hero-title {
            font-size: 38px;
            padding-bottom: 40px;
        }
    }

.hero-text {
    padding-bottom: 65px;
    width: 540px;
    color: #727272;
}
    
        @media (max-width: 800px) {
            .hero-text {
                width: 360px;
            }
        }
    
        @media (max-width: 545px) {
            .hero-text {
                width: 320px; 
                padding-bottom: 45px;
            }
        }
    
        @media (max-width: 420px) {
            .hero-text {
                font-size: 14px;
            }
        }
   
.hero-btn {
    display: block;
    background-color: #34547A;
    color: #FFFFFF;
    width: 225px;
    height: 65px;
    text-align: center;
    align-content: center;
    letter-spacing: 2px;
}

        @media (max-width: 800px) {
            .hero-btn {
                width: 205px;
                height: 55px;
            }
        }
    
        @media (max-width: 420px) {
            .hero-btn {
                width: 185px;
                height: 45px;
                font-size: 14px;
            }
        }
    
.hero-box {
    padding-bottom: 141px;
}

    @media (max-width: 545px) {
        .hero-box {
            padding-bottom: 100px;
        }
    }
