.hero-section {
    background: $base-color;
    padding-top: 258px;
   
        @media (max-width: 545px) {
            padding-top: 200px; 
        }
    
    &__title {
        font-size: 48px;
        margin: 0;
        padding-bottom: 60px;

        @media (max-width: 800px) {
            font-size: 38px;
            padding-bottom: 40px;
        }
    }

    &__text {
        padding-bottom: 65px;
        width: 540px;
        color: $main-fn-color;
    
        @media (max-width: 800px) {
            width: 360px;
        }
    
        @media (max-width: 545px) {
            width: 320px; 
            padding-bottom: 45px;
        }
    
        @media (max-width: 420px) {
            font-size: 14px;
        }
    }
   
    &__btn {
        display: block;
        background-color: $base-secondary-color;
        color: $second-fn-color;
        width: 225px;
        height: 65px;
        text-align: center;
        align-content: center;
        letter-spacing: 2px;

        @media (max-width: 800px) {
            width: 205px;
            height: 55px;
        }
    
        @media (max-width: 420px) {
            width: 185px;
            height: 45px;
            font-size: 14px;
        }
    }
    
    &__box {
    padding-bottom: 141px;

    @media (max-width: 545px) {
        padding-bottom: 100px;
    }
}
}