.projects-section {
    background-color: $base-secondary-color;
    color: $second-fn-color;

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 147px);
        grid-auto-flow: row;
        gap: 40px;
        list-style: none;
        padding: 100px 0;
        margin: 0;
        justify-content: center;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 147px);
    }

    @media (max-width: 800px) {
        grid-template-columns: repeat(2, 147px);
        justify-items: center;
    }

    @media (max-width: 420px) {
        grid-template-columns: repeat(1, 147px);
    }
    
    &--cell {
        display: grid;
        grid-template-columns: repeat(2, 50px);
        gap: 20px;
    }
    }
}
