html,
body {
  height: 100%;
  margin: 0;
  font-family: roboto, sans-serif;
  line-height: 164%;
  background-color: $main-bg-color;
}

.container {
	width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 400px;
    box-sizing: border-box;

        @media (max-width: 1620px) {
            padding: 0 200px;
        }
    
        @media (max-width: 1200px) {
            padding: 0 100px;
        }
    
        @media (max-width: 800px) {
            adding: 0 50px;
        }
    
        @media (max-width: 420px) {
            padding: 0 30px;
        }
}

a {
    text-decoration: none;
    color: $base-fn-color;
    margin: 0;
}

p {
    margin: 0;
}

h2 {
    font-size: 32px;
    margin: 0;

    @media (max-width: 800px) {
        font-size: 28px;
    }
}

h3 {
    font-size: 21px;
    line-height: 100%;
    font-weight: 500;
    color: $second-color;
    margin: 0;

    @media (max-width: 545px) {
        font-size: 18px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	min-width: 375px;
	position: relative;
    overflow: hidden;
}