// base colors //
$main-bg-color: #F9F9F9;
$base-color: #eeeff1;
$base-secondary-color:  #34547A;
// font colors //
$base-fn-color: black;
$main-fn-color: #727272;
$second-fn-color:  #fff;

// fonts //
$base-fz: 16px;
$second-fz: 12px;
$h1-fz: 38px;
$h2-fz: 30px;
$h3-fz: 22px;
$h3-caps-fz: 14px;
$h4-fz: 16px;
$ul-fz: 18px;
$base-lh: 1.2; 
$base-ff: "Montserrat", sans-sarif;